.card
    background-color white
    box-shadow: 0px 0px 8px 0 hsla(0, 0%, 0%, 20%)
    padding 2rem
    width 50%
    border-radius 4px
    margin-top 1rem
    @media screen and (max-width: 768px)
        width 100%
        box-sizing border-box
        padding 1.25rem
        margin 2rem 0 3rem
        > p
            font-size 0.75rem
    .user
        display table
        .float
            display table-cell
            vertical-align middle
            p
                font-size 0.75rem
                margin 0
                @media screen and (max-width: 768px)
                    font-size 0.5rem
        img
            width 3rem
            height 3rem
            border-radius 1.5rem
            float left
            margin-right 1rem
            @media screen and (max-width: 768px)
                width 2rem
                height 2rem
                margin-right 0.5rem