very-dark-blue = hsl(243, 87%, 12%) // Background footer 2
desaturated-blue = hsl(238, 22%, 44%) // Background footer 1

bright-blue = hsl(224, 87%, 12%)  // talvez cor font
moderate-cyan = hsl(170, 45%, 43%) // cor link

light-grayish-blue = hsl(240, 75%, 98%) // backgroung footer 0
light-gray = hsl(0, 0%, 75%) // placeholder?

header-font-family = 'Raleway', sans-serif
body-font-family = 'Open Sans', sans-serif

btn-bg-color = hsl(224, 94%, 58%)
a-color = hsl(169, 31%, 47%)