input-text(width=200px, min-width=200px)
    width width
    min-width min-width
    padding 0.75rem 1.25rem
    border 1px solid #CCC
    border-radius 4px
    font-family body-font-family
    margin-bottom 1rem
    @media screen and (max-width: 768px)
        width 100%
        box-sizing: border-box
        margin-bottom 0.5rem
        margin-right 0

input-submit(width=200px, min-width=200px)
    width width
    min-width min-width
    padding 0.75rem 2rem
    border 0
    background-color btn-bg-color
    border-radius 4px
    font-family body-font-family
    color white
    box-shadow: 4px 4px 8px 0 hsla(0, 0%, 0%, 20%)
    @media screen and (max-width: 768px)
        width: 100%
        box-sizing: border-box

font(weight=400, font-size=1rem, font-family=body-font-family)
    font weight font-size font-family