.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row-reverse {
    flex-direction: row-reverse;
}