@use "sass:map";
@use "base" as *;
@use "components" as comp;

body {
    font: 400 1rem $body-font-family;
}

h1, h2 {
    font: 400 1rem $heading-font-family;
    color: $dark-violet;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    @media screen and (max-width: 768px) {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
}

h2 {
    font-size: 1.5rem;
}

p {
    color: $dark-violet;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

a {
    text-decoration: none;
    color: $dark-violet;
}

.visible-max {
    @media screen and (max-width: 768px){
        display: none;
    }
}

.visible-min {
    @media screen and (min-width: 769px) {
        display: none;
    }
}

// .invisible {
//     display: none;
// }

header {
    nav {
        position: relative;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem $default-padding;
        z-index: 10;
        .hamburger {
            float: right;
        }
        ul {
            li {
                float: left;
                margin-left: 1rem;
                a {
                    display: block;
                    padding: 0.5rem 1.5rem;
                    color: $dark-grayish-violet;
                    &:hover {
                        color: $very-dark-violet;
                    }
                }
                &:last-child a {
                    border: 2px solid $very-dark-violet;
                    color: $very-dark-violet;
                    &:hover {
                        background-color: $very-dark-violet;
                        color: white;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            padding: 0;
            background-color: $very-dark-violet;
            @include comp.bg-image(map.get($bg-pattern-mobile-nav, "path"));
            background-position: bottom;
            background-size: 100vw;
            text-align: center;
            img {
                margin: 1rem;
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-color: white;
            }
            ul {
                flex: 0 0 100%;
                margin-bottom: 100vh;
                li {
                    clear: both;
                    width: width-no-margin($margin: $default-padding);
                    margin: 1rem $default-padding;
                    a {
                        color: white;
                        &:hover {
                            color: $dark-grayish-violet;
                        }
                    }
                    &:last-child a {
                        border: 2px solid white;
                        color: white;
                        &:hover {
                            background-color: white;
                            color: $dark-violet;
                        }
                    }
                }
            }
        }
    }
    .outer {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
            width: 100%;
        }
    }
    section {
        position: relative;
        background-color: $dark-violet;
        padding: $default-padding;
        @media screen and (max-width: 768px) {
            padding: 5rem 2rem;
        }
        img {
            position: absolute;
            background-image: url(map.get($image-intro, "desktop-path"));
            background-repeat: no-repeat;
            height: 45.139vw;
            width: 37.5vw;
            top: $default-padding / 2;
            right: $default-padding;
            z-index: 1;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        div {
            width: 40%;
            @media screen and (max-width: 768px){
                width: 100%;
                text-align: center;
            }
        }
        &::before {
            @include comp.bg-float-image(
                map.get($bg-pattern-intro-right, "desktop-path"),
                map.get($bg-pattern-intro-right, "desktop-height"),
                map.get($bg-pattern-intro-right, "desktop-width"),
                'top', -71px,
                'left', calc(100% - #{map.get($bg-pattern-intro-right, "desktop-width")}),
                2
            );
            @media screen and (max-width: 768px) {
                background-image: url(map.get($bg-pattern-intro-left, "mobile-path"));
                height: map.get($bg-pattern-intro-left, "mobile-height");
                width: map.get($bg-pattern-intro-left, "mobile-width");
                top: 0;
                left: 0;
            }
        }
        &::after {
            @include comp.bg-float-image(
                map.get($bg-pattern-intro-left, "desktop-path"), 
                map.get($bg-pattern-intro-left, "desktop-height"),
                map.get($bg-pattern-intro-left, "desktop-width"),
                'top', $default-padding * 3, 
                'left', 0, 
                2
            );
            @media screen and (max-width: 768px) {
                background-image: url(map.get($bg-pattern-intro-right, "mobile-path"));
                height: map.get($bg-pattern-intro-right, "mobile-height");
                width: map.get($bg-pattern-intro-right, "mobile-width");
                top: 22.5rem;
                left: calc(100% - #{map.get($bg-pattern-intro-right, "mobile-width")});
            }
        }
        h1 {
            position: relative;
            color: white;
            &::before {
                @include comp.horizontal-ruler(white);
                @media screen and (max-width: 768px) {
                    content: none;
                }
            }
        }
        p {
            margin: 2rem 0;
            line-height: 2rem;
            color: white;
        }
        a {
            display: inline-block;
            border: 1px solid white;
            background-color: $dark-violet;
            padding: 0.5rem 1.5rem;
            color: white;
            &:hover {
                background-color: white;
                color: $dark-violet;
                cursor: pointer;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0px;
    @media screen and (max-width: 768px) {
        align-items: center;
        margin: 2rem 0;
    }
}

.content {
    padding: $default-padding;
    @media screen and (max-width: 768px) {
        padding: 5rem 2rem;
    }
    h1 {
        position: relative;
        margin: $default-padding 0 $default-padding / 2;
        &::before {
            @include comp.horizontal-ruler($dark-violet);
            @media screen and (max-width: 768px) {
                width: 50%;
                top: -$default-padding;
                right: 0;
                margin: auto;
            }
        }
    }
    img {
        object-fit: contain;
        margin-bottom: 1rem;
    }
    h2 {
        margin: 1rem 0;
    }
    p {
        line-height: 1.5rem;
        color: $dark-grayish-violet;
    }
    .col:nth-child(2) {
        margin: 0 2rem;
        @media screen and (max-width: 768px) {
            margin: 2rem 0;
        }
    }
}

.detail {
    div {
        display: inline-flex;
        margin: 0 $default-padding $default-padding;
        padding: 77px;
        background-color: $dark-violet;
        width: width-no-margin(width-no-margin(), 77px);
        justify-content: space-between;
        align-items: center;    
        @include comp.bg-image(map.get($bg-pattern-how-we-work, "desktop-path"));
        background-position-x: 100%;
        @media screen and (max-width: 768px) {
            display: block;
            margin: 0 2rem 5rem;
            padding: 5rem 2rem;
            width: auto;
            text-align: center;
            background-image: url(map-get($bg-pattern-how-we-work, "mobile-path"));
        }
    }
    h1 {
        color: white;
        @media screen and (max-width: 768px) {
            font-size: 2rem;
            line-height: 2rem;
            margin-bottom: 3rem;
        }
    }
    a {
        border: 1px solid white;
        background-color: transparent;
        padding: 0.5rem 1.5rem;
        color: white;
        &:hover {
            background-color: white;
            color: $dark-violet;
            cursor: pointer;
        }
    }
}

footer {
    background-color: $very-light-gray;
    padding: $default-padding / 2 $default-padding;
    @include comp.bg-image(map.get($bg-pattern-footer, "desktop-path"));
    @media screen and (max-width: 768px) {
        background-image: url(map-get($bg-pattern-footer, "mobile-path"));
    }
    .footer-logo {
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0 0;
        }
        .social {
            float: right;
            li {
                float: left;
                margin-left: 1rem;
                @media screen and (max-width: 768px) {
                    margin: 2rem 0.5rem 1rem;
                }
                svg:hover path {
                    fill: black;
                }
            }
        }
    }
    hr {
        margin: 2.5rem 0;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }
    h3 {
        color: $dark-grayish-violet;
        margin-bottom: 2.5rem;
        font-weight: 700;
    }
    li {
        line-height: 2rem;
        font-weight: 700;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}