.header {
    background-color: $veryPaleCyan;
    background-image: url(../images/bg-hero-desktop.svg);
    padding: 3rem 4rem;

    /* Top */
    .top {
        button {
            @include button(white, $veryDarkCyan);
            float: right;
        }
    }

    /* Content */

    .row {
        margin: 4rem 0 0;
        .col {
            h1 {
                font-size: 2.6rem;
            }

            p {
                margin: 2rem 0;
            }
            
            > button {
                @include button($pink, white);
                width: 55%;
            }

            > img {
                width: 100%;
            }

            &.left {
                margin-right: 4rem;
            }

            &.right {
                flex: none;
                width: 50vw;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 1.5rem;
        background-image: url(../images/bg-hero-mobile.svg);
        
        .top {
            img {
                width: 25vw;
            }
            button {
                padding: 0.25rem 1.5rem;
                font-size: 0.75rem;
            }
        }

        .row {
            flex-direction: column;
            margin: 5rem 0 0;

            h1, p {
                text-align: center;
            }

            .col {
                h1 {
                    font-size: 1.5rem;
                }

                > button {
                    margin: 0 auto;
                    font-size: 0.75rem;
                    padding: 0.75rem 1.5rem;
                    width: 80%;
                }

                &.left {
                    margin-right: 0;
                }

                &.right {
                    width: auto;
                    margin: 3rem 0 0;
                }
            }
        }
    }
}