body {
    font-family: Poppins, sans-serif;
}

/* Primary Colors */
.red {
    color: hsl(0, 78%, 62%);
}

.cyan {
    color: hsl(180, 62%, 55%);
}

.orange {
    color: hsl(34, 97%, 64%);
}

.blue {
    color: hsl(212, 86%, 64%);
}

/* Neutral Colors */

.very-dark-blue {
    color: hsl(234, 12%, 34%);
}

.grayish-blue {
    color: hsl(229, 6%, 66%);
}

.very-light-gray {
    color: hsl(0, 0%, 98%);
}