body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

/* Primary Colors */

.cyan {
    color: hsl(179, 62%, 43%);
}

.bright-yellow {
    color: hsl(71, 73%, 54%);
}

/* Neutral Colors */

.light-gray {
    color: hsl(204, 43%, 93%);
}

.graylish-blue {
    color: hsl(218, 22%, 67%);
}